.intro{
    background-color: bisque;
    width: 100%;
padding-top: 20px;
padding-bottom: 20px;
}
.card-img{
    border: 10px solid gray;
    width: 80%;
    margin: auto;
}
.card-body{
    margin: 10%;
}
.row{
    width: 100vw;
}
.intro-text{
    text-align: left;
    width: 60%;
    margin: auto;

}
.texter{
    width: 90%;
    margin: auto;
}
p{
    text-align: justify;
    font-weight: lighter;
}
hr.new1{
    border: 5px solid black;
}
.connect{
    text-align: center;
}
.i-xxl{
    font-size:xxx-large
}
.resume,.social{
    /* background-color:#ddeeca; */
    background-color: bisque;
    text-align: center;
}
.modal-header{
    background-color: whitesmoke;
}
.projects, .future-projects, .footer{
    background-color: #ddeeca;
}
.img-bg{
    background-color: grey;
}
h5:hover{
    text-decoration: underline;
    color: white;
}
.fl-l{
    float: right;
    text-align:right
}
*{
    font-weight: normal;
}